<div class="dialog_modal_fullscreen @VisibilityClass">
	<div class="dialog_shadow">
		<div class="dialog_box">
			<div class="dialog-message-row">
			</div>
			<div class="dialog-buttons-row">
				<div class="dialog-buttons">
					<a role="button" class="text-button text-button-highlight">OK</a>
					<a role="button" class="text-button">キャンセル</a>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.dialog_modal_fullscreen {
		position: fixed;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 2600;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(0,0,0,0.3);
	}

	.dialog_shadow {
		box-shadow: 0 0px 8px rgba(0,0,0,0.16);
	}

	.dialog_box {
		display: flex;
		flex-direction: column;
		width: min-content;
		min-width: 500px;
		max-width: 90vw;
		min-height: 75px;
		padding: 10px;
		transform: translateZ(0);
		color: black;
		background: white;
	}

		.dialog_box > .dialog-buttons-row {
			align-items: center;
			overflow: hidden;
			display: flex;
			white-space: nowrap;
			padding: 20px 10px 10px;
			padding-right: 1px;
		}

			.dialog_box > .dialog-buttons-row > .dialog-buttons {
				display: flex;
				width: 100%;
				justify-content: flex-end;
				overflow: hidden;
				margin-left: 67px;
			}

				.dialog_box > .dialog-buttons-row > .dialog-buttons > text-button-highlight, .dialog_box > .dialog-buttons-row > .dialog-buttons > text-button {
					width: fit-content;
					padding: 5px 10px;
					overflow: hidden;
					text-overflow: ellipsis;
					margin: 4px 5px;
					outline-offset: 2px !important;
				}

		.dialog_box .dialog-message-row {
			display: flex;
			flex-grow: 1;
			align-items: center;
			padding: 0 10px;
		}

	text-button {
		color: black;
		background-color: rgba(0, 0, 0, 0.1);
		box-sizing: border-box;
		display: flex;
		width: 100%;
		padding: 4px;
		border-radius: 2px;
		text-align: center;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		border: 1px solid var(--vscode-button-border,transparent);
		line-height: 18px;
		text-decoration: none;
	}

	text-button-highlight {
		color: white;
		background-color: #005fb8;
	}

</style>

@code {
	bool _IsVisible = false;
	public bool IsVisible { get => _IsVisible; set { _IsVisible = value; StateHasChanged(); } }
	string VisibilityClass => IsVisible ? "" : "";
}
