.snippet_button {
    margin: 10px;
    background: var(--aozora-sub-snippets-button-background);
    border: 1px solid var(--aozora-sub-snippets-button-border-color);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--aozora-theme-text-color);
}

.snippet_header {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    border-bottom: 1px solid var(--aozora-sub-snippets-header-border-color);
    background: var(--aozora-sub-snippets-header-background);
}

    .snippet_header .snippet_header_title {
        grid-column: 1/2;
        font-weight: bold;
    }

    .snippet_header > .snippet_header_info {
        grid-column: 2/3;
    }

        .snippet_header > .snippet_header_info.snippet_header_info_on {
            background: var(--aozora-sub-snippets-header-background);
        }

    .snippet_header > .snippet_header_run_all {
        grid-column: 3/4;
    }

    .snippet_header > input {
        grid-column: 4/5;
        border: 0px solid transparent;
        border-left: 1px solid var(--aozora-sub-snippets-header-border-color);
        background: var(--aozora-sub-background);
    }

        .snippet_header > input::placeholder {
            color: var(--aozora-sub-snippets-header-input-placeholder-color);
        }


        .snippet_info {
            margin: 20px;
            padding: 10px;
            border: 1px solid var(--aozora-sub-snippets-info-border-color);
            background: var(--aozora-sub-snippets-info-background);
        }

.snippet {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    margin: 20px;
    box-shadow: var(--aozora-sub-snippets-entry-box-shadow);
    border: 1px solid var(--aozora-sub-snippets-entry-border-color);
}

    .snippet > .snippet_background {
        grid-row: 1/2;
        grid-column: 1/5;
        height: 100%;
        background: var(--aozora-sub-snippets-entry-header-background);
        width: 100%;
    }

    .snippet > .snippet_text {
        grid-row: 1/2;
        grid-column: 1/2;
        margin-left: 10px;
    }

        .snippet > .snippet_text .snippet_arg {
            text-decoration: underline;
        }

    .snippet > .snippet_document_link {
        color: var(--aozora-theme-text-color);
        text-decoration: none;
        grid-row: 1/2;
        grid-column: 3/4;
    }

    .snippet > .snippet_obsolete {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .snippet > .snippet_run_button {
        grid-row: 1/2;
        grid-column: 4/5;
    }

    .snippet > .snippet_labels {
        grid-row: 2/3;
        grid-column: 1/5;
        overflow: scroll;
    }

        .snippet > .snippet_labels > table {
            width: 100%;
        }

            .snippet > .snippet_labels > table tr {
                width: 100%;
            }

            .snippet > .snippet_labels > table th {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            .snippet > .snippet_labels > table td {
            }

    .snippet > .snippet_preview {
        grid-row: 3/4;
        grid-column: 1/5;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        border-top: 1px solid var(--aozora-sub-snippets-entry-preview-border-color);
    }

        .snippet > .snippet_preview > .snippet_preview_original {
            grid-row: 1/2;
            grid-column: 1/2;
            white-space: pre;
            background: var(--aozora-sub-snippets-entry-preview-original-background);
            padding: 5px;
        }

        .snippet > .snippet_preview > .snippet_preview_result {
            grid-row: 1/2;
            grid-column: 2/3;
        }

            .snippet > .snippet_preview > .snippet_preview_result iframe {
                width: 100%;
                border: none;
                min-height: 0;
                min-width: 0;
                /*iframeサイズの自動調整はかなり面倒…。*/
            }

        .snippet > .snippet_preview > .snippet_preview_error {
            grid-row: 2/3;
            grid-column: 1/3;
            background: var(--aozora-sub-snippets-entry-preview-error-background);
            padding: 5px;
        }
