.menubar {
    display: flex;
    flex-shrink: 1;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    margin: 2px 4px;
    font-size: 13px;
    /*border: solid 1px rgba(127,127,127,0.4);*/
}

    .menubar > .menubar_menu_button {
        padding: 0 8px;
        border-radius: 5px;
        cursor: default;
        font-family: Segoe WPC,Segoe UI,sans-serif;
        user-select: none;
    }

        .menubar > .menubar_menu_button:hover {
            background-color: #7F7F7F22;
        }
