@implements IMenuParent
@inject IJSRuntime JSRuntime;

<div class="menubar" @onclick:preventDefault @onclick:stopPropagation="true" @onclick="()=>{}" @ref="ElementBox">
	@{
		int i = 0;
	}
	@foreach (var item in MenuItemProvider.GetMenuItems(ChildMenus))
	{
		i++;
		switch (item)
		{
			case IMenuItemSingleBasic basic:
				<div tabindex="0" class="menubar_menu_button" @onclick="async ()=>{await ItemClicked(basic);}" @ref="@basic.ElementHeader" @onmouseover="async ()=>{await MouseOverItem(basic);}" @onkeydown="async e =>await KeyDown(e,basic)">@basic.Title</div>
				break;
		}
	}
</div>

<CascadingValue Value="this">
	@ChildContent
</CascadingValue>

@code {
	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[CascadingParameter(Name = nameof(Root))]
	public FullEditor? Root { get; set; }

	public ElementReference? ElementBox { get; set; }

	public int ZIndex => 256;

	System.Collections.ObjectModel.ObservableCollection<IMenuItem> ChildMenus { get; } = new();

	public void AddItem(IMenuItem menuItem)
	{
		ChildMenus.Add(menuItem);
		StateHasChanged();
	}

	public void Hide()
	{
		foreach (var item in ChildMenus)
		{
			(item as IMenuItemSingle)?.Hide();
		}
		StateHasChanged();
	}

	public MenuPosition ChildPosition => MenuPosition.Bottom;

	public async Task ItemClicked(IMenuItemSingleBasic item)
	{
		if (item.HasChild && item.IsChildrenVisible)
		{
			Hide();
			StateHasChanged();
			return;
		}
		Root?.HideMenuBar();
		Hide();
		await item.InvokeAsync();
		if (Root is not null) Root.CurrentMenu = this;
		StateHasChanged();
		return;
	}

	public async Task MouseOverItem(IMenuItemSingleBasic item)
	{
		if (!ChildMenus.Any(a => (a as IMenuItemSingle)?.IsChildrenVisible == true)) return;
		if (item.IsChildrenVisible) return;
		if (!item.HasChild) return;
		Hide();
		await item.ShowAsync();
		StateHasChanged();
	}

	async Task KeyDown(KeyboardEventArgs keyboard, IMenuItemSingleBasic basic)
	{
		//Console.WriteLine(keyboard.Key);
		if (keyboard.Key == "Enter")
		{
			await ItemClicked(basic);
		}
	}

	public void NotifyStateHasChanged() => StateHasChanged();
}
