.menubox {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: var(--aozora-menubar-box-background);
    border: solid 1px var(--aozora-menubar-box-border);
    z-index: 1000;
    top: 0;
    left: 0;
    padding: 4px 0;
    box-shadow: var(--aozora-menubar-button-box-shadow);
    color: var(--aozora-theme-text-color);
}

    .menubox > .mebubox_entry {
        display: grid;
        grid-template-columns: 28px 1fr 24px;
        margin: 0 4px;
        cursor: pointer;
        user-select: none;
        min-height: 28px;
        align-items: center;
    }

        .menubox > .mebubox_entry:hover, .menubox > .mebubox_entry:focus {
            background: var(--aozora-menubar-box-background-hover);
        }

        .menubox > .mebubox_entry > .mebubox_entry_icon {
            display: inline;
            grid-column: 1/2;
            justify-self: start;
        }

            .menubox > .mebubox_entry > .mebubox_entry_icon > * {
                vertical-align: middle;
            }

        .menubox > .mebubox_entry > .mebubox_entry_text {
            display: inline;
            grid-column: 2/3;
            font-size: 13px;
            font-family: var(--aozora-ui-fonts);
        }

        .menubox > .mebubox_entry > .mebubox_entry_arrow {
            display: inline;
            grid-column: 3/4;
        }

            .menubox > .mebubox_entry > .mebubox_entry_arrow > span {
                vertical-align: middle;
            }

    .menubox > hr {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        border-top: 1px solid var(--aozora-menubar-box-border);
        margin: 6px 0px;
        width: 100%;
    }
