
<iframe style="width:100%;height:100%;border:none;" srcdoc="@htmlPreview"></iframe>

<article style="overflow:scroll;">
	
</article>

@code {
	public RenderFragment? Content{ get; set; }

	string htmlPreview = "<html><body>プレビューはここに表示されます。</body></html>";
}
