<iframe class="@(Selected == SubPanelContents.Iframe? string.Empty:"hidden")" style="width:100%;height:100%;border:none;min-height:0;min-width:0;background:var(--aozora-theme-background);" sandbox="allow-popups-to-escape-sandbox allow-same-origin" srcdoc="@PreviewDocument"></iframe>

<article class="subpanel_body @(Selected == SubPanelContents.Iframe? "hidden":string.Empty)" style="overflow:auto;">
	@switch (Selected)
	{
		case SubPanelContents.Snippets:
			<AozoraEditor.Shared.Shared.SubPanels.SnippetsList />
			break;
		case SubPanelContents.Dictionary:
			<AozoraEditor.Shared.Shared.SubPanels.DictionaryPage />
			break;
	}

</article>

@code {
	public enum SubPanelContents
	{
		Iframe, Snippets, Dictionary,
	}

	[Parameter]
	public SubPanelContents Selected { get; set; }

	//public RenderFragment? Content { get; set; }

	[Parameter]
	public string PreviewDocument { get; set; } = "<html><body>空のプレビュー画面</body></html>";
}
