<div>
	<ButtonMini>
		<Content><span class="material-symbols-outlined">preview</span></Content>
	</ButtonMini>
</div>

<article>@Content</article>

@code {
	public RenderFragment? Content{ get; set; }
}
