<div>
	<ButtonMini>
		<Content><span class="material-symbols-outlined">preview</span></Content>
	</ButtonMini>
</div>

<iframe style="width:100%;height:100%;border:none;" srcdoc="@htmlPreview"></iframe>

<article style="overflow:scroll;">
	
</article>

@code {
	public RenderFragment? Content{ get; set; }

	string htmlPreview = "<html><body>プレビューボタンはここに表示されます。</body></html>";
}
