<div class="tab_pages_container">
	<div class="tab_pages_controller">
		@foreach (TabPage tabPage in Pages)
		{
			<button type="button" class="tab_button">
				@tabPage.Title
			</button>
		}
	</div>

	<div class="tab_pages_body">
		<CascadingValue Value="this">
			@ChildContent
		</CascadingValue>
		@*
		@foreach (var item in Pages)
		{
		<CascadingValue Value="this">
		@item?.ChildContent
		</CascadingValue>
		}*@
	</div>
</div>

@code {
	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	System.Collections.ObjectModel.ObservableCollection<TabPage> Pages = new();
	public TabPage? ActivePage { get; set; }

	internal void AddPage(TabPage page)
	{
		Pages.Add(page);
		if (Pages.Count == 1) ActivePage = page;
		StateHasChanged();
	}

}
