<div class="tab_pages_container">
	<div class="tab_pages_controller">
		@foreach (TabPageOld tabPage in Pages)
		{
			<button type="button" class="tab_button">
				@tabPage.Title
			</button>
		}
	</div>

	<div class="tab_pages_body">
		<CascadingValue Value="this">
			@ChildContent
		</CascadingValue>
		@*
		@foreach (var item in Pages)
		{
		<CascadingValue Value="this">
		@item?.ChildContent
		</CascadingValue>
		}*@
	</div>
</div>

<style>
	.tab_pages_container {
		display: grid;
		grid-template-rows: auto 1fr;
		grid-template-columns: 1fr;
		flex: 1 0 0;
	}

	.tab_pages_controller {
		grid-row: 1/2;
		grid-column: 1/2;
		min-width: 0;
	}

	.tab_pages_body {
		grid-row: 2/3;
		grid-column: 1/2;
		min-width: 0;
		display: flex;
	}

</style>

@code {
	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	System.Collections.ObjectModel.ObservableCollection<TabPageOld> Pages = new();
	public TabPageOld? ActivePage { get; set; }

	internal void AddPage(TabPageOld page)
	{
		Pages.Add(page);
		if (Pages.Count == 1) ActivePage = page;
		StateHasChanged();
	}
}
